.lorem {
  color: blue;
}

.delete {
  display: block;
  margin-right: auto;
  margin-left: auto;
  justify-content: center;
  background-color: red;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  border-color: beige;
  text-decoration: none;
}
